.orangeText {
  background-color: orange !important;
  cursor: no-drop;
}
.bradCrumbRow {
  background-color: #8a8989;
}
.bradCrumbRow > label {
  margin: 0;
  padding: 10px;
  color: #fff;
}
.bradCrumbRow > label > a {
  color: #fff;
  margin: 0;
  font-size: 15px;
}
/*******************************************************************************Navbar Start**************************************************************************************/
.headerComponentDiv {
  background-color: #ffebeb;
  padding: 5px 0;
  position: fixed;
  min-width: 100%;
  z-index: 999;
}
/*Navbar First Row Start*/
.navbarFirstRowContainer {
  background-color: #d70d47;
}
.navbarFirstRowText {
  text-align: center;
  color: #fff;
  padding: 10px 0;
  margin: 0;
}
/*Navbar First Row End*/
/*Navbar Second Row Start*/
.searchButtonDesktop:hover,
.searchButtonDesktop:focus {
  color: #000 !important;
}
.desktopSearchBox {
  min-width: 100%;
}
.desktopSearchBoxCloseBtn {
  cursor: pointer;
}
.desktopSearchBoxCloseBtn:hover {
  color: #000;
}
.navbarSecondRowContainer {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbarSecondRowCol1 > i,
a {
  font-size: 12px;
  color: #b3b2b2;
}
.navbarSecondRowCol1 > a:hover {
  color: #d70d47;
}
.redFont {
  /* color: #d70d47 !important; */
  color: #f14f55 !important;
}
.navbarHorizontalRow {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.navbarThirdRow {
  align-items: center;
}
.navbarThirdRowCol2 {
  padding-top: 5px;
}
.dorpDownActive {
  color: #d60d43;
}
.navbarThirdRowCol3 > p {
  margin: 0;
}
.navbarThirdRowCol3 > p > a:hover {
  color: #d70d47;
}
.navbarThirdRowCol3 > p > a:focus {
  color: #b3b2b2;
}
.navbarThirdRowOnScroll {
  position: fixed;
  min-width: 100%;
  top: 0;
  left: 15px;
  background: #fff;
  padding: 15px 125px;
  box-shadow: 0px 0px 7px 1px grey;
  z-index: 2;
}
/* .searchBarContainer {
  margin-top: 3rem !important;
} */
.searchBarDiv {
  /* margin-top: 3rem !important; */
  border-bottom: solid 1px #ccc;
  padding: 10px !important;
}
.searchBarDiv > input {
  border: none;
}
.searchBarDiv > input:focus {
  outline: none;
}
#mobileNavHeader1,
#mobileNavHeader2,
#mobileNavHeader3,
#mobileNavHeader4,
#mobileNavHeader5,
#mobileNavSearch {
  transition: all 0.5s ease;
}
#mobileNavHeader1 > h3 {
  margin: 0;
  color: #f14f55;
  font-weight: 800;
}
/* #mobileNavHeader {
  display: none !important;
} */

/* Mobile Nav Start*/
#mobile-nav-toggle {
  position: inherit;
  margin: 0;
  /* top: -10px; */
}
.mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  /* display: none; */
}
.mobileNavSearchButtonDiv {
  background: #f6bec8;
  padding: 5px;
}
.mobileNavSearchButtonDiv > input {
  border: none;
  background: transparent;
  outline: none;
  max-width: 80%;
}
.mobileNavSearchButtonDiv > i {
  background: #f6bec8;
}
/* Mobile Nav End*/
@media only screen and (max-width: 768px) {
  .navbarFirstRow,
  .navbarSecondRow,
  .navbarThirdRowCol3,
  .navbarHorizontalRow {
    display: none !important;
  }

  .navbarThirdRowContainer {
    padding-left: 0;
    margin-left: 15px;
  }
  .navbarThirdRow {
    position: fixed;
    background: #fff;
    box-shadow: 0px 0px 7px 1px grey;
    background-color: white;
    z-index: 1;
    min-width: 100%;
    top: 0;
  }
  .navbarThirdRowOnScroll {
    position: fixed;
    min-width: 100%;
    top: 0;
    left: 15px;
    background: #fff;
    padding: 0;
    box-shadow: 0px 0px 7px 1px grey;
    z-index: 2;
  }

  .navbarThirdRowCol1 {
    padding: 10px;
  }
  .navbarThirdRowCol1 > img {
    padding: 10px 15px;
  }
}
@media only screen and (min-width: 769px) {
  .navbarThirdRowOnScroll > .navbarThirdRowCol1 > a > img {
    max-width: 100%;
  }
}

/*Navbar Second Row End*/
/*Navbar Third Row Start*/
.womenSubMenu {
  height: 150px;
  min-width: 940%;
  background-color: #fff;
  position: absolute;
  left: -240px;
  top: 50px;
  visibility: hidden;
  transition: all 0.3s ease;
  padding: 15px;
  z-index: 2;
  border: solid 1px #ccc;
}
.womenTab:hover .womenSubMenu {
  visibility: visible;
}
.menSubMenu {
  height: 150px;
  min-width: 1360%;
  background-color: #fff;
  position: absolute;
  left: -346px;
  top: 50px;
  visibility: hidden;
  transition: all 0.3s ease;
  padding: 15px;
  z-index: 2;
  border: solid 1px #ccc;
}
.menTab:hover .menSubMenu {
  visibility: visible;
}
.womenSubCategoryItem,
.menSubCategoryItem {
  cursor: pointer;
}
.womenSubCategoryItem:hover,
.menSubCategoryItem:hover {
  color: #d70d47;
}
/*Navbar Third Row End*/
/*******************************************************************************Navbar End**************************************************************************************/
/*******************************************************************************Cover Div Start**************************************************************************************/
.coverDiv {
  height: 90vh;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  display: flex;
  justify-content: space-around;
}
.coverDivTextDiv > h3 {
  margin: 0;
  color: #fff;
  font-weight: 600;
  text-align: center;
  font-size: 21px;
}
.coverDivInputFieldDiv {
  background: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
}
.coverDivInputField {
  background: transparent;
  border: none;
  outline: none;
  padding-left: 10px;
}
.coverDivInputField:focus {
  background: transparent !important;
  border: transparent !important;
  border-width: 0px;
}
.coveDivInputDivIcons {
  /* padding: 7px 15px 0 15px; */
}
.coverDivInputFieldDivButton {
  background-color: #f14f55;
  border: none;
  color: #fff;
  border-radius: 15px;
  padding: 4px 25px;
  margin-left: 10px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.coverDivInputFieldDivButton:hover {
  background-color: #ffebeb;
  color: #800;
}
.coverDivLastDivParent {
  display: flex;
  justify-content: space-around;
  transform: translateY(-50px);
}
.coverDivLastDiv {
  background-color: #fff;
  /* height: 150px; */
  box-shadow: 0px 0px 2px 2px #ccc;
  /* min-width: 50%; */
}
.coverDivLastDiv > div {
  align-items: center;
}
.coverDivLastDiv > div > div {
  padding: 10px;
}
.coverDivLastDiv > div > div > h5 {
  margin: 0;
  color: #000;
}
.coverDivLastDiv > div > div > p {
  margin: 0;
  font-size: 10px;
  color: #000;
}
@media only screen and (max-width: 337px) {
  .coverDivInputFieldDivButton {
    margin-top: 10px;
    /* margin-left: 0; */
  }
}
/*******************************************************************************Cover Div End**************************************************************************************/
/*******************************************************************************Get Connected Start**************************************************************************************/
.getConnectedComponentRow1 > h2 {
  text-align: center;
  margin: 0;
  font-weight: 600;
  color: #f14f55;
}
.getConnectedComponentRow1 > p {
  margin: 0;
  text-align: center;
}
.getConnectedComponentRow2 > div {
  /* z-index: -1; */
}
.getConnectedRow2Col {
  display: flex;
  justify-content: center;
}
.getConnectedRow2Col > i {
  border: solid 1px #000;
  font-size: 60px;
  border-radius: 50%;
  padding: 20px;
}
.getConnectedContentHeading {
  color: #f14f55;
  font-size: 22px;
  font-weight: 600;
}

.getConnectedContentHeading,
.getConnectedContentPara {
  text-align: center;
  margin: 0;
}
.getConnectedContentPara {
  font-size: 13px;
}
.getConnectedColmn {
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
}
.getConnectedRow2Col > i {
  transition: all 0.5s ease;
}
.getConnectedColmn:hover .getConnectedRow2Col > i {
  box-shadow: 0px 0px 5px 2px #800;
  border: solid 1px #800;
  color: #800;
  transform: rotate(360deg);
}
.getConnectedColmn:hover {
  box-shadow: 0px 0px 5px 2px #eee;
}
/*******************************************************************************Get Connected End**************************************************************************************/
/*******************************************************************************Featured Restaurant Start**************************************************************************************/
.featuredRestaurantFirstRow > h2 {
  text-align: center;
  margin: 0;
  color: #f14f55;
}
.featuredRestaurantFirstRow > P {
  text-align: center;
  margin: 0;
  color: #000;
}
.featuredRestaurantButton {
  border: none;
  background-color: #0dd6ff;
  color: #fff;
  outline: none;
  border-radius: 15px;
  padding: 3px 15px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.featuredRestaurantButton:hover {
  background-color: #800;
}
.featuredRestaurants {
  cursor: pointer;
  transition: all 0.5s ease;
  /* filter: grayscale(1); */
}
.featuredRestaurants:hover {
  filter: drop-shadow(2px 4px 6px #ccc);
  /* box-shadow: 2px 4px 6px #ccc; */
  /* filter: grayscale(0); */
}
.imageContainer {
  position: relative;
  /* width: 50%; */
}

.resImage {
  opacity: 1;
  display: block;
  /* width: 100%; */
  /* height: auto; */
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.imageContainer:hover .resImage {
  opacity: 0.3;
}

.imageContainer:hover .middle {
  opacity: 1;
}

.text {
  background-color: #ffebeb;
  color: #880006;
  font-size: 16px;
  padding: 16px 32px;
}
/*******************************************************************************Featured Restaurant End**************************************************************************************/
/*******************************************************************************Footer Start**************************************************************************************/

.footerMainParent {
  background-color: #880006;
  color: #fff;
  position: absolute;
  min-width: 100%;
}
.footerCol1 > h2 {
  margin: 0;
}
.footerCol1 > div > i {
  font-size: 22px;
}
.footerCol2 {
  border-left: solid 2px #ccc;
}
.footerCol2 > h5,
.footerCol2 > p {
  margin: 0;
}
.footerCol2 > p {
  font-size: 13px;
}
.footerCol2 > div > p {
  margin: 0;
}
.footerCol3 > div > p {
  margin: 0;
}
.subscribeInputField::placeholder {
  color: #fff;
}
.subscribeInputField {
  min-width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: solid 1px #fff;
  padding-bottom: 5px;
}
.subscribeButtonDiv > button {
  border: none;
  background-color: #fff;
  color: #f14f55;
  border-radius: 15px;
  padding: 3px 20px;
  font-weight: 600;
}
.footerSecRow {
  border-top: solid 1px #ccc;
}
.footerNav {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
/*******************************************************************************Footer End**************************************************************************************/
/* width */
::-webkit-scrollbar {
  width: 20px;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
